.main-profile{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 25px;
}
.main-profile h1{
    margin: 0;
    width: 80%;
}
.prof-cont{
    width: 80%;
    display: flex;
}
.prof-aside{
    width: 25%;
}
.prof-logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.prof-logo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-info{
    width: 100%;
    height: fit-content;
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
}
.info-block{
    width: 45%;
    height: fit-content;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
}

.info-block p{
    width: 100%;
    height: 30px;
    align-items: center;
    display: flex;
    overflow-x: scroll;
}
.info-block p::-webkit-scrollbar{
    display: none;
}
.info-block h3{
    margin: 0;
}
.prof-info{
    width: 75%;
    display: flex;
    justify-content: space-between;
}
.orders-cont{
    width: 75%;
}
.messages-cont{
    width: 20%;
    height: 350px;
    border: 1px solid black;
}
.table{
    width: 100%;
    height: 350px;
    border: 1px solid #a7a7a7;
    padding: 5px;
    overflow-y: scroll;
}
.th-col, .tb-col{
    width: 33%;
    border: 1px solid #a7a7a7;
    height: 30px;
    display: flex;
    align-items: center;
}
.th-col{
    background-color: lightsalmon;
}
.tb-row{
    width: 100%;
    display: flex;
}
.no-orders-cont{
    width: 100%;
    height: 50px;
    margin-top: 25px;
}
.no-orders-cont-dis{
    display: none;
}
.no-orders-cont p{
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-up{
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #a7a7a788;
    display: block;
}
.pop-up-dis{
    display: none;
}
.pop-up-cont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pop-up-cont form{
    width: 500px;
    height: 300px;
    border-radius: 15px;
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    row-gap: 25px;
    justify-content: center;
}
.pop-up-cont h2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pop-form-block{
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.pop-form-block input{
    width: 100%;
    height: 100%;
    border: 1px solid #333;
    outline: none;
    color: #333;
    font-size: 18px;
}
.pop-can-btn{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}
.pop-sub-btn{
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightseagreen;
    color: whitesmoke;
    border: none;
    cursor: pointer;
}

.loginform{
    width: 50%;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    column-gap: 20px;
    row-gap: 20px;
}
#loginform{
    width: 300px;
    height: 400px;
    border-radius: 15px;
    border: 1px solid#333;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
#loginform input{
    width: 95%;
    height: 30px;
    border: 1px solid #333;
    outline: none;
    font-size: 18px;
    border-radius: 5px;
}
#loginform input[type="submit"]{
    width: 95%;
    height: 40px;
    outline: none;
    font-size: 18px;
    color: whitesmoke;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
}
.typeFormBtn{
    width: fit-content;
    height: 30px;
    outline: none;
    font-size: 14px;
    color: whitesmoke;
    background-color: lightcoral;
    border: none;
    border-radius: 5px;
    margin: 0px 5px;
}

.message-block{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    margin-bottom: 5px;
    cursor: pointer;
}
.message-block-read{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    margin-bottom: 5px;
    cursor: pointer;
}
.mess-img{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mess-img img{
    width: 40px;
    height: 40px;
}
.mess-text{
    width: 80%;
    height: 50px;
    justify-content: start;
    align-items: baseline;
    overflow-y: hidden;
}
.mess-text-read{
    width: 80%;
    height: fit-content;
    justify-content: start;
    align-items: baseline;
}
.mess-text::-webkit-scrollbar{
    display: none;
}
.text-center{
    text-align: center;
}
.mess-block{
    width: 100%;
    height: 240px;
    overflow-y: scroll;
}
.mess-block::-webkit-scrollbar{
    display: none;
}
.sendBtn{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.sendNewMes-cont{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    border-top: 1px solid #333;
    padding-left: 3px;
}
.sendNewMes-cont input{
    width: 70%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 1px solid #333;
}